/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #000, #1a001a, #330000);
    color: #fff;
}

header {
    background-color: #330000;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #ff0000;
    font-size: 3em;
    margin-bottom: 10px;
    text-shadow: 2px 2px #800080;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #ff0000;
    color: #fff;
}

main {
    padding: 40px;
}

.sobre-joao p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 1.2em;
}

/* Página de imagens de carros/motos/animes */
.imagens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
     margin-bottom: 15px;
    line-height: 1.5;
    font-size: 1.2em;
}

.imagens-container .item {
    width: 200px;
    text-align: center;
}

.imagens-container img {
    width: 100%;
    border: 3px solid #800080;
    border-radius: 10px;
}

.imagens-container p {
    margin-top: 5px;
    font-size: 0.9em;
}

/* Botões gerais */
button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    background-color: #800080;
}
